Old_HV_SPE/
HV_SPE/
SPE_Fit.d
SPE_Fit.o
SPE_Fit_altered.cpp
SPE_Gen.d
SPE_Gen.o
TestFolder/
Gain_PMT_161.png
SPE_Fit_test
SPE_Fit_test.cpp
SPE_Fit_test.d
SPE_Fit_test.o
SPE_Gen_test
SPE_Gen_test.cpp
SPE_Gen_test.d
SPE_Gen_test.o
SPE_Gen
*.root
*.dat
SPE_Fit
Plots/*
SPE_Fit
SPE_Gen_Desk
peakToValley5.C
peakToValley5_C.so
peakToValley5_C_ACLiC_dict_rdict.pcm
Gain_Fit_singlePMT
RooExpWindowDict*
*.so*
*.pcm*
example.c