multi_*
Downloads/
Instructions_on_how_to_use_the_WaveDump_Wrapper.pdf
caen/
checkUSBChannels.sh
mkdir_script.sh
scp_test/
BoardInfo-V1730-416.dat
CAENScope_Data/
Current_file_store/
DAQ_Temp/
Desktop/
PMT_initial_set_up/
Picoscope/
Pictures/
PlotData.txt
Results/
Rons_Wavedump_Wrapper/
RootData/
RunGeco.sh
Software/
Wave/
Wavedump_Wrapper/
.DPP-PSD_ControlSoftware/
.DppRunner/
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.bashrc~
.cache/
.config/
.dbus/
.emacs
.emacs.d/
.esd_auth
.gnome/
.gnupg/
.gnuplot_history
.java/
.local/
.mozilla/
.pki/
.readme.txt.swp
.reame.txt.swp
.root_hist
.ssh/
.subversion/
.vim/
.viminfo
.gitconfig
BinaryData/
.DS_Store
.gitignore~
Data/
*.d
*.o
*~
.DS_Store
RawRootData/
Code_Fragments/
BinaryData/
Storage/
Documents/
Data_Analysis/Shipping_Data/.vscode/settings.json
Data_Analysis/Shipping_Data/.vscode/*
Data_Analysis/Shipping_Data/.vscode
Data_Analysis/Shipping_Data/.~lock.R7081-100-10_WA-S80_ShippingData.xlsx#

Data_Acquisition/HV_Stepper/readHam
Data_Acquisition/HV_Stepper/ShippingData_AllPMTs.csv
Data_Acquisition/HV_Stepper/ShippingData_BoulbyPMTs.csv
Data_Acquisition/HV_Stepper/HVScan-new.txt
Data_Acquisition/HV_Stepper/.~lock.ShippingData_AllPMTs.csv#
Data_Acquisition/HV_Stepper/.vscode/launch.json
Data_Acquisition/HV_Stepper/.vscode/tasks.json
Data_Acquisition/HV_Stepper/HVScan-new.txt
Data_Acquisition/HV_Stepper/new.txt
Data_Acquisition/HV_Stepper/test.cc
Data_Acquisition/HV_Stepper/test
Data_Acquisition/HV_Stepper/test.py
.#run_process_analyse_locally_auto_on_trig (copy).sh
.root
Old_Scripts/run_process_analyse_locally_auto_on_trig_loopfail.sh
#Makefile#
Data_Acquisition/test_cases.txt
Data_Acquisition/#.root#
Data_Acquisition/.root
Data_Acquisition/Example_Code/.root
Data_Acquisition/LostNFound/
Data_Acquisition/test_cases.txt
Data_Analysis/.root
Data_Processing/.root
Data_Acquisition/PMTs_Run_100.txt
Data_Analysis/Waveform_Plotter/*.root
Data_Processing/Cooking/#Makefile#
