caen/
checkUSBChannels.sh
mkdir_script.sh
scp_test/
BoardInfo-V1730-416.dat
CAENScope_Data/
Current_file_store/
DAQ_Temp/
Data/
Desktop/
PMT_initial_set_up/
Picoscope/
Pictures/
PlotData.txt
Results/
Rons_Wavedump_Wrapper/
RootData/
RunGeco.sh
Software/
Wave/
Wavedump_Wrapper/
.DPP-PSD_ControlSoftware/
.DppRunner/
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.bash_profile
.bashrc
.bashrc~
.cache/
.config/
.dbus/
.emacs
.emacs.d/
.esd_auth
.gnome/
.gnupg/
.gnuplot_history
.java/
.local/
.mozilla/
.pki/
.readme.txt.swp
.reame.txt.swp
.root_hist
.ssh/
.subversion/
.vim/
.viminfo
.gitconfig
Instructions on how to use the WaveDump Wrapper.pdf
.DS_Store
.gitignore~